.table {
    background-color: white;
    height: 100%;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    color: white;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table tr:hover td {
    background-color: #ededed;
    cursor: pointer;
}

.table th, td {
    padding: 8px 12px;
    border-bottom: 1px solid #aaa;
}

.table th {
    background-color: #7b9c7c;
}

.table td {
    background-color: white;
    text-align: center;
}

.selected {
    background-color: #ededed !important;
}

.delete {
    color: white;
    text-align: center;
    cursor: pointer;
}

.delete img {
    opacity: 0.8;
}

.delete img:hover {
    opacity: 1;
}
