#map-page {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

#map {
    position: absolute;
    width: 100vw;
    height: 90vh;
}

#table-stuff {
    position: absolute;
    z-index: 1000;
    width: 85%;
    left: 7.5vw;
    bottom: 1%;
}

#optimize-btn {
    position: absolute;
    left: 50%;
    width: 40%;
    transform: translate(-100%, calc(-100% - 1vh));
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .5rem;
    background-image: linear-gradient(to right, #4a6fa5, #00265f);
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: .2rem .2rem .5rem gray;
    margin-right: 1rem;
    text-shadow: .03rem .075rem 0rem black;
}

#optimize-btn:hover {
    background-image: none;
    background-color: #6c82c7;
}

#clear-btn {
    position: absolute;
    left: 50%;
    width: 40%;
    transform: translate(0%, calc(-100% - 1vh));
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-image: linear-gradient(to right, #d42222, #a90909);
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: .2rem .2rem .5rem gray;
    margin-left: 1rem;
    text-shadow: .03rem .075rem 0rem black;
}

#clear-btn:hover {
    background-image: none;
    background-color: #fb3a3a;
}

.disabled {
    cursor: not-allowed !important;
    color: #555555 !important;
}

.disabled:hover {
    background-image: none !important;
    background-color: darkgray !important;
}