#banner {
    background-image: linear-gradient(to right, #4a6fa5, #00265f);
    text-align: center;
    height: auto;
    border: .1rem solid black;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


#banner-text {
    font-size: 3rem;
    font: bolder;
    color: #ededed;
    text-shadow: .02em .1rem .1rem  black;
}