#banner {
    background-image: linear-gradient(#4A6FA5, #166088);
    text-align: center;
    height: auto;
    border: .1rem solid black;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


#banner-text {
    font-size: 3rem;
    font: bold;
    color: #ededed;
    text-shadow: .15em .1rem .75rem  black;
}